/* --- VARIABLES MAESTRAS Y TEMAS --- */
@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  /* Tu color específico para modo claro */
  --color-mossy-light: rgba(255, 255, 255, 0.9);
  /* Un color profundo para modo oscuro */
  --color-mossy-dark: #121212;
  
  --color-mossy-green: #74a257;
  --color-mossy-earth: #AD9F6D;
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}